<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        {{langService.get("build")}}
    </p>
    <p class="info">
        {{langService.get("rules-actions-build")}}
    </p>
</mat-card>

<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        {{langService.get("trade")}}
    </p>
    <p class="info">
        {{langService.get("rules-actions-trade-1")}}
        <br><br>
        <li class="title">
            {{langService.get("domestic-trade")}}
        </li>
        {{langService.get("rules-actions-trade-2")}}
        <br><br>
        <li class="title">
            {{langService.get("maritime-trade")}}
        </li>
        {{langService.get("rules-actions-trade-3")}}
        <br><br>
        {{langService.get("rules-actions-trade-4")}}
        <br><br>
        {{langService.get("rules-actions-trade-5")}}
        <br><br>
        {{langService.get("rules-actions-trade-6")}}
        <br><br>
        {{langService.get("rules-actions-trade-7")}}
    </p>
</mat-card>