<div *ngIf="!gameService.cargandoPartida"
class="info" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
<mat-accordion>

  <!-- PRECIOS -->
  <mat-expansion-panel (click)="this.scrollDown()">
    <mat-expansion-panel-header>
      <mat-panel-title style="text-align: center;">
        <mat-icon aria-hidden="false" aria-label="Example home icon">savings</mat-icon> &nbsp;
        {{langService.get("costs")}} &nbsp;
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-tab-group mat-align-tabs="center">

        <mat-tab [label]="langService.get('road')">
            <table class="mat-table center" >
                <tr class="mat-header-row">
                    <th class="mat-header-cell">{{langService.get("resource")}}</th>
                    <th class="mat-header-cell">{{langService.get("quantity")}}</th>
                </tr>
                <tr class="mat-row">
                    <td class="mat-cell">
                        {{langService.get("madera")}}
                    </td>
                    <td class="mat-cell center_td">1</td>
                </tr>
                <tr class="mat-row">
                    <td class="mat-cell">
                        {{langService.get("arcilla")}}
                    </td>
                    <td class="mat-cell center_td">1</td>
                </tr>
            </table>
        </mat-tab>

        <mat-tab [label]="langService.get('village')">
            <table class="mat-table center" >
                <tr class="mat-header-row">
                    <th class="mat-header-cell">{{langService.get("resource")}}</th>
                    <th class="mat-header-cell">{{langService.get("quantity")}}</th>
                </tr>
                <tr class="mat-row">
                    <td class="mat-cell">
                        {{langService.get("madera")}}
                    </td>
                    <td class="mat-cell center_td">1</td>
                </tr>
                <tr class="mat-row">
                    <td class="mat-cell">
                        {{langService.get("mineral")}}
                    </td>
                    <td class="mat-cell center_td">1</td>
                </tr>
                <tr class="mat-row">
                    <td class="mat-cell">
                        {{langService.get("arcilla")}}
                    </td>
                    <td class="mat-cell center_td">1</td>
                </tr>
                <tr class="mat-row">
                    <td class="mat-cell">
                        {{langService.get("lana")}}
                    </td>
                    <td class="mat-cell center_td">1</td>
                </tr>
            </table>
        </mat-tab>

        <mat-tab [label]="langService.get('city')">
            <table class="mat-table center" >
                <tr class="mat-header-row">
                    <th class="mat-header-cell">{{langService.get("resource")}}</th>
                    <th class="mat-header-cell">{{langService.get("quantity")}}</th>
                </tr>
                <tr class="mat-row">
                    <td class="mat-cell">
                        {{langService.get("mineral")}}
                    </td>
                    <td class="mat-cell center_td">3</td>
                </tr>
                <tr class="mat-row">
                    <td class="mat-cell">
                        {{langService.get("cereales")}}
                    </td>
                    <td class="mat-cell center_td">2</td>
                </tr>
            </table>
        </mat-tab>

    </mat-tab-group>
  </mat-expansion-panel>

  <mat-expansion-panel *ngFor="let user of this.gameService.partida.jugadores; index as i">
    <mat-expansion-panel-header>
      <mat-panel-title [style.font-weight]="i != this.gameService.partida.miTurno - 1 ? 'normal' : 'bold'">
        <mat-icon aria-hidden="false" aria-label="Example home icon" [style.color]="playerColors[i]">panorama_wide_angle_select</mat-icon> &nbsp;
        {{user.nombre}}
      </mat-panel-title>
      <mat-panel-description>
        {{user.puntos}} {{langService.get("points")}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="button-row" style="width: 100px; "></div>
    <div class="button-row">
        <button mat-raised-button *ngIf="i != this.gameService.partida.miTurno - 1"
        (click)="openInternalTradeDialog(i)" [disabled]="this.gameService.partida.miTurno != this.gameService.partida.turnoActual || this.gameService.partida.yaComercio">
            {{langService.get("trade")}}
        </button>
    </div>
    <div class="button-row" style="width: 10px; "></div>
    <div class="button-row">
        <button mat-raised-button *ngIf="i != this.gameService.partida.miTurno - 1"
        (click)="gameService.reportarJugador(i+1)" [disabled]="this.gameService.partida.reported[i]">
            {{langService.get("report")}}
        </button>
    </div>

    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Materiales">
            <table class="mat-table center" >
                <tr class="mat-header-row">
                    <th class="mat-header-cell">{{langService.get("resource")}}</th>
                    <th class="mat-header-cell">{{langService.get("quantity")}}</th>
                </tr>
                <tr class="mat-row">
                    <td class="mat-cell">
                        {{langService.get("madera")}}
                    </td>
                    <td class="mat-cell center_td">{{user.recursos.madera}}</td>
                </tr>
                <tr class="mat-row">
                    <td class="mat-cell">
                        {{langService.get("mineral")}}
                    </td>
                    <td class="mat-cell center_td">{{user.recursos.mineral}}</td>
                </tr>
                <tr class="mat-row">
                    <td class="mat-cell">
                        {{langService.get("arcilla")}}
                    </td>
                    <td class="mat-cell center_td">{{user.recursos.arcilla}}</td>
                </tr>
                <tr class="mat-row">
                    <td class="mat-cell">
                        {{langService.get("lana")}}
                    </td>
                    <td class="mat-cell center_td">{{user.recursos.lana}}</td>
                </tr>
                <tr class="mat-row">
                    <td class="mat-cell">
                        {{langService.get("cereales")}}
                    </td>
                    <td class="mat-cell center_td">{{user.recursos.cereales}}</td>
                </tr>
            </table>
        </mat-tab>
        <!-- No hay cartas :(
        <mat-tab label="Cartas">
            <mat-grid-list cols="2">
                <mat-grid-tile>
                    <table class="mat-table" >
                        <tr class="mat-header-row">
                            <th class="mat-header-cell"> {{langService.get("card")}} </th>
                            <th class="mat-header-cell"> {{langService.get("quantity")}} </th>
                        </tr>
                        <tr class="mat-row">
                            <td class="mat-cell">D1</td>
                            <td class="mat-cell center_td">{{user.cartas.D1}}</td>
                        </tr>
                        <tr class="mat-row">
                            <td class="mat-cell">D2</td>
                            <td class="mat-cell center_td">{{user.cartas.D2}}</td>
                        </tr>
                        <tr class="mat-row">
                            <td class="mat-cell">D3</td>
                            <td class="mat-cell center_td">{{user.cartas.D3}}</td>
                        </tr>
                        <tr class="mat-row">
                            <td class="mat-cell">D4</td>
                            <td class="mat-cell center_td">{{user.cartas.D4}}</td>
                        </tr>
                        <tr class="mat-row">
                            <td class="mat-cell">D5</td>
                            <td class="mat-cell center_td">{{user.cartas.D5}}</td>
                        </tr>
                    </table>
                </mat-grid-tile>
                <mat-grid-tile>
                    <table class="mat-table" >
                        <tr class="mat-header-row">
                            <th class="mat-header-cell"> {{langService.get("card")}} </th>
                            <th class="mat-header-cell"> {{langService.get("quantity")}} </th>
                        </tr>
                        <tr class="mat-row">
                            <td class="mat-cell">E1</td>
                            <td class="mat-cell center_td">{{user.cartas.E1}}</td>
                        </tr>
                        <tr class="mat-row">
                            <td class="mat-cell">E2</td>
                            <td class="mat-cell center_td">{{user.cartas.E2}}</td>
                        </tr>
                    </table>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-tab>-->
    </mat-tab-group>
  </mat-expansion-panel>
  <mat-expansion-panel (click)="this.scrollDown()">
    <mat-expansion-panel-header>
      <mat-panel-title style="text-align: center;">
        <mat-icon>chat</mat-icon> &nbsp;
          Chat
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
        <div id=chatbox>
            <div class="chatMessage" *ngFor="let msg of gameService.partida.mensajes">
                <span *ngIf="msg.remitente != null">
                    <span [style.color]="playerColors[msg.remitente.turno - 1]">{{msg.remitente.nombre}} ({{msg.timeStamp}}):</span> {{msg.body}}
                </span>
                <span *ngIf="msg.remitente == null" [ngClass]="msg.esError? 'gameErrorMessage' : 'gameMessage'">{{msg.body}}</span>
                {{this.scrollDown()}}
            </div>
        </div>
        <br/>
        <mat-divider></mat-divider>
        <br/>
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label>
                    {{langService.get("write-your-message")}}
                </mat-label>
                <input matInput #message maxlength="256"
                autocomplete="off"
                (keyup.enter)="sendMessage(message)">
                <mat-hint align="start"><strong></strong> </mat-hint>
                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>
        </form>

  </mat-expansion-panel>

</mat-accordion>


</div>









