$hex-size: 71px; // Only change size here. Best used with sizes from 5em - 10em.
$number-size: 45px;

/* ----------------------------------------- */

.box {
    margin: 0 auto;
    margin-left: 31%;
    width: 1200px;
    /* background-color: #2fa4ed; */
    /* border: 1px solid black; */
    line-height: 1.3;
    margin-top: -.5%;
}

.container {
    height: 95%;
    width: 985px;
    line-height: 1.3;
}

ol.even {
    position: relative;
    left: ($hex-size / 1.1);
}

ol.odd {
    position: relative;
    margin-top: -78px;
    margin-bottom: -80px;
}


/* ----------------------------------------- */


/* begin base hex */

.hex {
    position: relative;
    margin: 25px auto;
    width: $hex-size;
    height: ($hex-size * 1.7);
    border-radius: 2px;
    background: #ccc;
    transform: rotate(-90deg);
    display: inline-block;
    margin-right: 60px;
    transition: all 150ms ease-in-out;
}

.hex:before,
.hex:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: '';
}

.hex:hover {
    cursor: pointer;
}

.hex:before {
    transform: rotate(60deg);
}

.hex:after {
    transform: rotate(-60deg);
}


/* end base hex */


/* ----------------------------------------- */


/* ----------------------------------------- */


/* begin types of hexs */

.hex.spacer {
    opacity: 0;
}

.hex.water {
    background-color: #5c86ae;
}

.hex.sand {
    background-color: #ba9e5c;
}

.hex.sheep {
    background-color: #93b248;
}

.hex.coal {
    background-color: #636363;
}

.hex.wheat {
    background-color: yellow;
}

.hex.brick {
    background-color: #97593c;
}

.hex.wood {
    background-color: #536d35;
}


/* end types of hexs */


/* ----------------------------------------- */


/* ----------------------------------------- */


/* begin roads */

.road {
    border-radius: 3px;
    background-color: black;
    position: absolute;
    width: 9px;
    height: 58px;
    z-index: 150;
}

.road.target {
    background-color: transparent;
    position: absolute;
    border: 2px dashed black;
}

.road.target:hover {
    background-color: #ffffff6b;
}

.road.l {
    right: 29px;
    bottom: 97px;
    transform: rotate(90deg);
}

.road.tl {
    left: 85px;
    top: -5px;
    transform: rotate(150deg);
}

.road.tr {
    left: 86px;
    top: 62px;
    transform: rotate(30deg);
}


/* end roads */


/* ----------------------------------------- */


/* ----------------------------------------- */


/* begin harbors */

.harbor {
    position: absolute;
    left: 45px;
    top: 0px;
    text-align: center;
    transform: rotate(90deg);
    z-index: 600;
}

.harbor::before,
.harbor::after {
    font-size: 20px;
    line-height: 25px;
    height: 25px;
    width: 125px;
}

.harbor::before {
    top: -15px;
    position: absolute;
}

.harbor::after {
    top: 10px;
    position: absolute;
}

.harbor-piece {
    border-radius: 7px;
    background-color: #f8ffa6;
    position: absolute;
    width: 18px;
    height: 75px;
    z-index: 150;
}

.harbor-piece.tl {
    top: -70px;
    left: 28px;
    transform: rotate(60deg);
}

.harbor-piece.l {
    top: -28px;
    left: 4px;
    transform: rotate(180deg);
}

.harbor-piece.bl {
    top: 13px;
    left: 28px;
    transform: rotate(120deg);
}

.harbor-piece.tr {
    top: -69px;
    left: 75px;
    transform: rotate(300deg);
}

.harbor-piece.r {
    top: -28px;
    left: 100px;
    transform: rotate(360deg);
}

.harbor-piece.br {
    top: 13px;
    left: 77px;
    transform: rotate(240deg);
}

.harbor.two-one::before {
    content: "2:1";
    font-size: 20px;
    color: white;
}

.harbor.three-one::before {
    content: "3:1";
    font-size: 15px;
    color: white;
}

.harbor.any::after {
    content: "Cualquiera";
    font-size: 15px;
    color: white;
}

.harbor.wood::after {
    content: "Madera";
    font-size: 15px;
    color: white;
}

.harbor.coal::after {
    content: "Arcilla";
    font-size: 15px;
    color: white;
}

.harbor.sheep::after {
    content: "Lana";
    font-size: 15px;
    color: white;
}

.harbor.brick::after {
    content: "Mineral";
    font-size: 15px;
    color: white;
}

.harbor.wheat::after {
    content: "Cereal";
    font-size: 15px;
    color: white;
}


/* end harbors */


/* ----------------------------------------- */


/* ----------------------------------------- */


/* begin numbers */

.hex .number {
    position: absolute;
    font-size: 25px;
    line-height: ($number-size - 5);
    text-align: center;
    z-index: 200;
    height: $number-size;
    width: $number-size;
    border-radius: $number-size;
    border: 1px solid black;
    top: 37px;
    left: 13px;
    transform: rotate(90deg);
    background-color: #f9e4c6;
}

.hex .number::after {
    position: absolute;
    font-size: 25px;
    line-height: ($number-size - 5);
    text-align: center;
    z-index: 500;
    height: $number-size;
    width: $number-size;
    top: 8px;
    left: 0px;
}

.hex .number.robber {
    opacity: .4;
    border: 2px dotted;
}

.hex .number.two::before {
    content: "2";
}

.hex .number.two::after {
    content: ".";
}

.hex .number.three::before {
    content: "3";
}

.hex .number.three::after {
    content: "..";
}

.hex .number.four::before {
    content: "4";
}

.hex .number.four::after {
    content: "...";
}

.hex .number.five::before {
    content: "5";
}

.hex .number.five::after {
    content: "....";
}

.hex .number.six::before {
    content: "6";
    color: red;
}

.hex .number.six::after {
    content: ".....";
    color: red;
}

.hex .number.eight::before {
    content: "8";
    color: red;
}

.hex .number.eight::after {
    content: ".....";
    color: red;
}

.hex .number.nine::before {
    content: "9";
}

.hex .number.nine::after {
    content: "....";
}

.hex .number.ten::before {
    content: "10";
}

.hex .number.ten::after {
    content: "...";
}

.hex .number.eleven::before {
    content: "11";
}

.hex .number.eleven::after {
    content: "..";
}

.hex .number.twelve::before {
    content: "12";
}

.hex .number.twelve::after {
    content: ".";
}


/* end numbers */


/* ----------------------------------------- */


/* ----------------------------------------- */


/* begin houses */

.hex .house {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 800;
}

.hex .house::before {
    width: 0;
    height: 0;
    border-style: solid;
    transform: rotate(90deg);
    content: "";
    position: absolute;
}


/* roof of the house */

.hex .house::before {
    top: 4px;
    left: 14px;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent #000000 transparent;
}

.hex .house.target {
    border: 2px dashed black;
}

.hex .house.target:hover {
    background-color: #ffffff6b;
}

.hex .house.target::before {
    display: none;
}

.hex .house.tl.target {}

.hex .house.tr.target {}

.hex .house.t {
    top: 49px;
    left: 100px;
}

.hex .house.tl {
    top: -17px;
    left: 63px;
}


/* end  houses */


/* ----------------------------------------- */


/* ----------------------------------------- */


/* begin cities */

.hex .city {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    height: 20px;
    width: 30px;
    position: absolute;
    z-index: 800;
}

.hex .city::before {
    width: 0;
    height: 0;
    border-style: solid;
    transform: rotate(90deg);
    content: "";
    position: absolute;
}

.hex .city::after {
    content: "";
    width: 20px;
    height: 40px;
    top: -2px;
    left: -2px;
    position: absolute;
    border: 2px solid black;
    background-color: inherit;
}

.hex .city::before {
    top: 4px;
    left: 24px;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent #000000 transparent;
}

.hex .city.t {
    top: 39px;
    left: 100px;
}

.hex .city.tl {
    top: -25px;
    left: 65px;
}


/* end cities */


/* ----------------------------------------- */


/* TODO: finish the colors */

.hex .city.red {
    background-color: #ff0000;
}

.hex .house.red {
    background-color: #ff0000;
}

.hex .city.blue {
    background-color: #0000ff;
}

.hex .house.blue {
    background-color: #0000ff;
}

/* Estilo de botones*/
.botonTurno{
    width: 150px;
    min-width: unset!important;
    margin-right: 1%;
    margin: auto;
    display: block;
    background-color: #965d62;
}