<!-- <div class='house target tl'></div>
                <div class='house target t'></div>
                <div class='house target '></div>
                <div class='road tl'></div>
                <div class='road target l' [ngStyle]="{'background-color': 'black'}"></div>
                <div class='road target tr'></div> -->
<!-- <div class='house target tl'></div>
                <div class='house target t'></div>
                <div class='house target '></div>
                <div class='road target tl'></div>
                <div class='road target l'></div>
                <div class='road target tr'></div>
                <div class='number three'></div> -->
<div class="container">

    <!-- TABLERO -->

    <div class="board">

        <!-- PRIMERA FILA DE MAR -->
        <ol class="even">

            <li class='hex spacer'></li>

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(4) != null" class='harbor-piece br'></div>
                </div>
            </li>

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(5) != null" class='harbor-piece bl'></div>
                    <div *ngIf="this.gameService.TipoPuerto(9) != null" class='harbor-piece br'></div>
                </div>
            </li>

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(10) != null" class='harbor-piece bl'></div>
                    <div *ngIf="this.gameService.TipoPuerto(14) != null" class='harbor-piece br'></div>
                </div>
            </li>

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(15) != null" class='harbor-piece bl'></div>
                </div>
            </li>
        </ol>


        <!-- FILA 1 -->
        <ol class="odd">
            <li class='hex spacer'></li>

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(3) != null" class='harbor-piece r'></div>
                    <div *ngIf="this.gameService.TipoPuerto(20) != null" class='harbor-piece br'></div>
                </div>
            </li>

            <!--TERRENOS FILA 1-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[0])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[0] != tipoTerreno().DESIERTO" class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[0]]" [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 0"></div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target l'></div>
                <div class='road target tr'></div>
            </li>

            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[1])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[1] != tipoTerreno().DESIERTO" class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[1]]" [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 1"></div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target l'></div>
                <div class='road target tr'></div>
            </li>

            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[2])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[2] != tipoTerreno().DESIERTO" class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[2]]" [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 2"></div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target l'></div>
                <div class='road target tr'></div>
            </li>
            <!--FIN TERRENOS FILA 1-->

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(11) != null" class='harbor-piece l'></div>
                    <div *ngIf="this.gameService.TipoPuerto(30) != null" class='harbor-piece bl'></div>
                </div>
                <div class='house target tl'></div>

                <div class='road target l'></div>
            </li>
        </ol>


        <!-- FILA 2 -->
        <ol class="even">
            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(19) != null" class='harbor-piece r'></div>
                    <div *ngIf="this.gameService.TipoPuerto(35) != null" class='harbor-piece br'></div>
                </div>
            </li>


            <!--TERRENOS FILA 2-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[3])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[3] != tipoTerreno().DESIERTO" class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[3]]" [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 3"></div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target l'></div>
                <div class='road target tr'></div>
            </li>


            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[4])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[4] != tipoTerreno().DESIERTO" class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[4]]" [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 4"></div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target l'></div>
                <div class='road target tr'></div>
            </li>

            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[5])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[5] != tipoTerreno().DESIERTO" class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[5]]" [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 5"></div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target l'></div>
                <div class='road target tr'></div>
            </li>

            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[6])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[6] != tipoTerreno().DESIERTO" class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[6]]" [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 6"></div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target l'></div>
                <div class='road target tr'></div>
            </li>
            <!--FIN TERRENOS FILA 2-->


            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(27) != null" class='harbor-piece l'></div>
                    <div *ngIf="this.gameService.TipoPuerto(49) != null" class='harbor-piece bl'></div>
                </div>
                <div class='house target tl'></div>

                <div class='road target l'></div>
            </li>
        </ol>


        <!-- FILA 3 -->
        <ol class="odd">

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(34) != null" class='harbor-piece r'></div>
                </div>
            </li>

            <!--FIN TERRENOS FILA 3-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[7])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[7] != tipoTerreno().DESIERTO" class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[7]]" [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 7"></div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target l'></div>
                <div class='road target tr'></div>
            </li>

            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[8])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[8] != tipoTerreno().DESIERTO" class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[8]]" [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 8"></div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target l'></div>
                <div class='road target tr'></div>
            </li>

            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[9])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[9] != tipoTerreno().DESIERTO" class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[9]]" [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 9"></div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target l'></div>
                <div class='road target tr'></div>
            </li>

            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[10])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[10] != tipoTerreno().DESIERTO" class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[10]]" [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 10"></div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target l'></div>
                <div class='road target tr'></div>
            </li>

            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[11])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[11] != tipoTerreno().DESIERTO" class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[11]]" [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 11"></div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target l'></div>
                <div class='road target tr'></div>
            </li>
            <!--FIN TERRENOS FILA 3-->

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(45) != null" class='harbor-piece l'></div>
                </div>
                <div class='house target tl'></div>

                <div class='road target l'></div>
            </li>
        </ol>


        <!-- FILA 4 -->
        <ol class="even">
            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(33) != null" class='harbor-piece tr'></div>
                    <div *ngIf="this.gameService.TipoPuerto(52) != null" class='harbor-piece r'></div>
                </div>
                <div class='house target t'></div>

                <div class='road target tr'></div>
            </li>

            <!--TERRENOS FILA 4-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[12])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[12] != tipoTerreno().DESIERTO" class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[12]]" [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 12"></div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target l'></div>
                <div class='road target tr'></div>
            </li>

            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[13])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[13] != tipoTerreno().DESIERTO" class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[13]]" [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 13"></div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target l'></div>
                <div class='road target tr'></div>
            </li>

            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[14])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[14] != tipoTerreno().DESIERTO" class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[14]]" [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 14"></div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target l'></div>
                <div class='road target tr'></div>
            </li>

            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[15])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[15] != tipoTerreno().DESIERTO" class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[15]]" [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 15"></div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target l'></div>
                <div class='road target tr'></div>
            </li>
            <!--FIN TERRENOS FILA 4-->

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(46) != null" class='harbor-piece tl'></div>
                    <div *ngIf="this.gameService.TipoPuerto(59) != null" class='harbor-piece l'></div>
                </div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target l'></div>
            </li>
        </ol>


        <!-- FILA 5 -->
        <ol class="odd">
            <li class='hex spacer'></li>
            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(51) != null" class='harbor-piece tr'></div>
                    <div *ngIf="this.gameService.TipoPuerto(65) != null" class='harbor-piece r'></div>
                </div>
                <div class='house target t'></div>

                <div class='road target tr'></div>
            </li>

            <!--TERRENOS FILA 5-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[16])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[16] != tipoTerreno().DESIERTO" class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[16]]" [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 16"></div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target l'></div>
                <div class='road target tr'></div>
            </li>

            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[17])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[17] != tipoTerreno().DESIERTO" class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[17]]" [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 17"></div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target l'></div>
                <div class='road target tr'></div>
            </li>

            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[18])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[18] != tipoTerreno().DESIERTO" class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[18]]" [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 18"></div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target l'></div>
                <div class='road target tr'></div>
            </li>
            <!--FIN TERRENOS FILA 5-->

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(60) != null" class='harbor-piece tl'></div>
                    <div *ngIf="this.gameService.TipoPuerto(69) != null" class='harbor-piece l'></div>
                </div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target l'></div>
            </li>
        </ol>


        <!-- ULTIMA FILA DE MAR-->
        <ol class="even">
            <li class='hex spacer'></li>

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(64) != null" class='harbor-piece tr'></div>
                </div>
                <div class='house target t'></div>

                <div class='road target tr'></div>
            </li>

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(63) != null" class='harbor-piece tl'></div>
                    <div *ngIf="this.gameService.TipoPuerto(68) != null" class='harbor-piece tr'></div>
                </div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target tr'></div>
            </li>

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(67) != null" class='harbor-piece tl'></div>
                    <div *ngIf="this.gameService.TipoPuerto(77) != null" class='harbor-piece tr'></div>
                </div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
                <div class='road target tr'></div>
            </li>

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(70) != null" class='harbor-piece tl'></div>
                </div>
                <div class='house target t'></div>
                <div class='house target tl'></div>

                <div class='road target tl'></div>
            </li>

        </ol>
    </div>

    <!-- Botones -->
    <div fxLayout="row" fxLayoutAlign="center center">
        <button class="dice-button" mat-fab color="primary">
          <p class="dice"> 
          Pasar turno
          </p>
        </button>

        <button class="dice-button" mat-fab color="primary">
          <p class="dice"> 
          Turno: World_champion
          </p>
        </button>

        <button class="dice-button" mat-fab color="primary">
          <p class="dice"> 
          Dados: 8
          </p>
        </button>

        <button class="dice-button" mat-fab color="primary" (click)="openSettingsDialog()">
          <p class="dice"> 
          Ajustes
          </p>
        </button>
    </div>
</div>