<!-- <div class='house target tl'></div>
                <div class='house target t'></div>
                <div class='house target '></div>
                <div class='road tl'></div>
                <div class='road target l' [ngStyle]="{'background-color': 'black'}"></div>
                <div class='road target tr'></div> -->
<!-- <div class='house target tl'></div>
                <div class='house target t'></div>
                <div class='house target '></div>
                <div class='road target tl'></div>
                <div class='road target l'></div>
                <div class='road target tr'></div>
                <div class='number three'></div>
                <div class='house target tl' [matMenuTriggerFor]="menu"></div>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>
            -->
<div class="container">

    <!-- TABLERO -->

    <div class="board">

        <!-- PRIMERA FILA DE MAR -->
        <ol class="even">

            <li class='hex spacer'></li>

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(4) != null" class='harbor-piece br'></div>
                </div>
            </li>

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(5) != null" class='harbor-piece bl'></div>
                    <div *ngIf="this.gameService.TipoPuerto(9) != null" class='harbor-piece br'></div>
                </div>
            </li>

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(10) != null" class='harbor-piece bl'></div>
                    <div *ngIf="this.gameService.TipoPuerto(14) != null" class='harbor-piece br'></div>
                </div>
            </li>

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(15) != null" class='harbor-piece bl'></div>
                </div>
            </li>
        </ol>


        <!-- FILA 1 -->
        <ol class="odd">
            <li class='hex spacer'></li>

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(3) != null" class='harbor-piece r'></div>
                    <div *ngIf="this.gameService.TipoPuerto(20) != null" class='harbor-piece br'></div>
                </div>
            </li>

            <!--TERRENOS FILA 1-->

            <!--HEXAGONO 0-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[0])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[0] != tipoTerreno().DESIERTO"
                class='number'
                [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[0]]"
                [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 0"></div>

                <!--ASENTAMIENTOS-->
                <board-settlement vertice=4 posicion="tl"></board-settlement>
                <board-settlement vertice=5 posicion="t"></board-settlement>

                <!--CAMINOS-->
                <board-road arista=3 posicion="l"></board-road>
                <board-road arista=4 posicion="tl"></board-road>
                <board-road arista=5 posicion="tr"></board-road>

            </li>

            <!--HEXAGONO 1-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[1])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[1] != tipoTerreno().DESIERTO"
                class='number'
                [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[1]]"
                [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 1"></div>

                <!--ASENTAMIENTOS-->
                <board-settlement vertice=0 posicion="tl"></board-settlement>
                <board-settlement vertice=9 posicion="t"></board-settlement>

                <!--CAMINOS-->
                <board-road arista=0  posicion="l"></board-road>
                <board-road arista=9  posicion="tl"></board-road>
                <board-road arista=10 posicion="tr"></board-road>
            </li>

            <!--HEXAGONO 2-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[2])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[2] != tipoTerreno().DESIERTO"
                class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[2]]"
                [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 2"></div>

                <!--ASENTAMIENTOS-->
                <board-settlement vertice=6  posicion="tl"></board-settlement>
                <board-settlement vertice=13 posicion="t"></board-settlement>

                <!--CAMINOS-->
                <board-road arista=6  posicion="l"></board-road>
                <board-road arista=14 posicion="tl"></board-road>
                <board-road arista=15 posicion="tr"></board-road>
            </li>
            <!--FIN TERRENOS FILA 1-->

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(11) != null" class='harbor-piece l'></div>
                    <div *ngIf="this.gameService.TipoPuerto(30) != null" class='harbor-piece bl'></div>
                </div>
                <div class='house target tl'></div>

                <board-settlement vertice=10  posicion="tl"></board-settlement>
                <board-road arista=11  posicion="l"></board-road>
            </li>
        </ol>


        <!-- FILA 2 -->
        <ol class="even">
            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(19) != null" class='harbor-piece r'></div>
                    <div *ngIf="this.gameService.TipoPuerto(35) != null" class='harbor-piece br'></div>
                </div>
            </li>


            <!--TERRENOS FILA 2-->

            <!--HEXAGONO 3-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[3])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[3] != tipoTerreno().DESIERTO"
                class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[3]]"
                [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 3"></div>

                <!--ASENTAMIENTOS-->
                <board-settlement vertice=17 posicion="tl"></board-settlement>
                <board-settlement vertice=3  posicion="t"></board-settlement>

                <!--CAMINOS-->
                <board-road arista=19 posicion="l"></board-road>
                <board-road arista=20 posicion="tl"></board-road>
                <board-road arista=2  posicion="tr"></board-road>
            </li>

            <!--HEXAGONO 4-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[4])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[4] != tipoTerreno().DESIERTO"
                class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[4]]"
                [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 4"></div>

                <!--ASENTAMIENTOS-->
                <board-settlement vertice=2 posicion="tl"></board-settlement>
                <board-settlement vertice=1  posicion="t"></board-settlement>

                <!--CAMINOS-->
                <board-road arista=16 posicion="l"></board-road>
                <board-road arista=1  posicion="tl"></board-road>
                <board-road arista=8 posicion="tr"></board-road>

            </li>

            <!--HEXAGONO 5-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[5])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[5] != tipoTerreno().DESIERTO"
                class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[5]]"
                [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 5"></div>

                <!--ASENTAMIENTOS-->
                <board-settlement vertice=8 posicion="tl"></board-settlement>
                <board-settlement vertice=7  posicion="t"></board-settlement>

                <!--CAMINOS-->
                <board-road arista=21 posicion="l"></board-road>
                <board-road arista=7   posicion="tl"></board-road>
                <board-road arista=13 posicion="tr"></board-road>

            </li>

            <!--HEXAGONO 6-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[6])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[6] != tipoTerreno().DESIERTO"
                class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[6]]"
                [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 6"></div>

                <!--ASENTAMIENTOS-->
                <board-settlement vertice=12 posicion="tl"></board-settlement>
                <board-settlement vertice=11  posicion="t"></board-settlement>

                <!--CAMINOS-->
                <board-road arista=24 posicion="l"></board-road>
                <board-road arista=12 posicion="tl"></board-road>
                <board-road arista=30 posicion="tr"></board-road>

            </li>
            <!--FIN TERRENOS FILA 2-->


            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(27) != null" class='harbor-piece l'></div>
                    <div *ngIf="this.gameService.TipoPuerto(49) != null" class='harbor-piece bl'></div>
                </div>

                <board-settlement vertice=22 posicion="tl"></board-settlement>
                <board-road arista=27 posicion="l"></board-road>
            </li>
        </ol>


        <!-- FILA 3 -->
        <ol class="odd">

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(34) != null" class='harbor-piece r'></div>
                </div>
            </li>

            <!--TERRENOS FILA 3-->

            <!--HEXAGONO 7-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[7])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[7] != tipoTerreno().DESIERTO"
                class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[7]]"
                [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 7"></div>

                <!--ASENTAMIENTOS-->
                <board-settlement vertice=28 posicion="tl"></board-settlement>
                <board-settlement vertice=16  posicion="t"></board-settlement>

                <!--CAMINOS-->
                <board-road arista=34 posicion="l"></board-road>
                <board-road arista=35 posicion="tl"></board-road>
                <board-road arista=18 posicion="tr"></board-road>

            </li>

            <!--HEXAGONO 8-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[8])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[8] != tipoTerreno().DESIERTO"
                class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[8]]"
                [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 8"></div>

                <!--ASENTAMIENTOS-->
                <board-settlement vertice=15 posicion="tl"></board-settlement>
                <board-settlement vertice=14  posicion="t"></board-settlement>

                <!--CAMINOS-->
                <board-road arista=31 posicion="l"></board-road>
                <board-road arista=17 posicion="tl"></board-road>
                <board-road arista=23 posicion="tr"></board-road>

            </li>

            <!--HEXAGONO 9-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[9])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[9] != tipoTerreno().DESIERTO"
                class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[9]]"
                [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 9"></div>

                <!--ASENTAMIENTOS-->
                <board-settlement vertice=19 posicion="tl"></board-settlement>
                <board-settlement vertice=18 posicion="t"></board-settlement>

                <!--CAMINOS-->
                <board-road arista=36 posicion="l"></board-road>
                <board-road arista=22 posicion="tl"></board-road>
                <board-road arista=26 posicion="tr"></board-road>

            </li>

            <!--HEXAGONO 10-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[10])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[10] != tipoTerreno().DESIERTO"
                class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[10]]"
                [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 10"></div>

                <!--ASENTAMIENTOS-->
                <board-settlement vertice=21 posicion="tl"></board-settlement>
                <board-settlement vertice=20 posicion="t"></board-settlement>

                <!--CAMINOS-->
                <board-road arista=39 posicion="l"></board-road>
                <board-road arista=25 posicion="tl"></board-road>
                <board-road arista=29 posicion="tr"></board-road>

            </li>

            <!--HEXAGONO 11-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[11])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[11] != tipoTerreno().DESIERTO"
                class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[11]]"
                [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 11"></div>

                <!--ASENTAMIENTOS-->
                <board-settlement vertice=24 posicion="tl"></board-settlement>
                <board-settlement vertice=23 posicion="t"></board-settlement>

                <!--CAMINOS-->
                <board-road arista=42 posicion="l"></board-road>
                <board-road arista=28 posicion="tl"></board-road>
                <board-road arista=48 posicion="tr"></board-road>

            </li>
            <!--FIN TERRENOS FILA 3-->

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(45) != null" class='harbor-piece l'></div>
                </div>
                <board-settlement vertice=35 posicion="tl"></board-settlement>
                <board-road arista=45 posicion="l"></board-road>
            </li>
        </ol>


        <!-- FILA 4 -->
        <ol class="even">
            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(33) != null" class='harbor-piece tr'></div>
                    <div *ngIf="this.gameService.TipoPuerto(52) != null" class='harbor-piece r'></div>
                </div>
                <board-settlement vertice=27 posicion="t"></board-settlement>
                <board-road arista=33 posicion="tr"></board-road>
            </li>

            <!--TERRENOS FILA 4-->

            <!--HEXAGONO 12-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[12])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[12] != tipoTerreno().DESIERTO"
                class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[12]]"
                [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 12"></div>

                <!--ASENTAMIENTOS-->
                <board-settlement vertice=26 posicion="tl"></board-settlement>
                <board-settlement vertice=25 posicion="t"></board-settlement>

                <!--CAMINOS-->
                <board-road arista=52 posicion="l"></board-road>
                <board-road arista=32 posicion="tl"></board-road>
                <board-road arista=38 posicion="tr"></board-road>

            </li>

            <!--HEXAGONO 13-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[13])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[13] != tipoTerreno().DESIERTO"
                class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[13]]"
                [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 13"></div>

                <!--ASENTAMIENTOS-->
                <board-settlement vertice=30 posicion="tl"></board-settlement>
                <board-settlement vertice=29 posicion="t"></board-settlement>

                <!--CAMINOS-->
                <board-road arista=49 posicion="l"></board-road>
                <board-road arista=37 posicion="tl"></board-road>
                <board-road arista=41 posicion="tr"></board-road>

            </li>

            <!--HEXAGONO 14-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[14])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[14] != tipoTerreno().DESIERTO"
                class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[14]]"
                [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 14"></div>

                <!--ASENTAMIENTOS-->
                <board-settlement vertice=32 posicion="tl"></board-settlement>
                <board-settlement vertice=31 posicion="t"></board-settlement>

                <!--CAMINOS-->
                <board-road arista=53 posicion="l"></board-road>
                <board-road arista=40 posicion="tl"></board-road>
                <board-road arista=44 posicion="tr"></board-road>

            </li>

            <!--HEXAGONO 15-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[15])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[15] != tipoTerreno().DESIERTO"
                class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[15]]"
                [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 15"></div>

                <!--ASENTAMIENTOS-->
                <board-settlement vertice=34 posicion="tl"></board-settlement>
                <board-settlement vertice=33 posicion="t"></board-settlement>

                <!--CAMINOS-->
                <board-road arista=56 posicion="l"></board-road>
                <board-road arista=43 posicion="tl"></board-road>
                <board-road arista=47 posicion="tr"></board-road>

            </li>
            <!--FIN TERRENOS FILA 4-->

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(46) != null" class='harbor-piece tl'></div>
                    <div *ngIf="this.gameService.TipoPuerto(59) != null" class='harbor-piece l'></div>
                </div>
                <board-settlement vertice=37 posicion="tl"></board-settlement>
                <board-settlement vertice=36 posicion="t"></board-settlement>
                <board-road arista=59 posicion="l"></board-road>
                <board-road arista=46 posicion="tl"></board-road>
            </li>
        </ol>


        <!-- FILA 5 -->
        <ol class="odd">
            <li class='hex spacer'></li>
            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(51) != null" class='harbor-piece tr'></div>
                    <div *ngIf="this.gameService.TipoPuerto(65) != null" class='harbor-piece r'></div>
                </div>
                <board-settlement vertice=40 posicion="t"></board-settlement>
                <board-road arista=51 posicion="tr"></board-road>
            </li>

            <!--TERRENOS FILA 5-->

            <!--HEXAGONO 16-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[16])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[16] != tipoTerreno().DESIERTO"
                class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[16]]"
                [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 16"></div>

                <!--ASENTAMIENTOS-->
                <board-settlement vertice=39 posicion="tl"></board-settlement>
                <board-settlement vertice=38 posicion="t"></board-settlement>

                <!--CAMINOS-->
                <board-road arista=65 posicion="l"></board-road>
                <board-road arista=50 posicion="tl"></board-road>
                <board-road arista=55 posicion="tr"></board-road>

            </li>

            <!--HEXAGONO 17-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[17])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[17] != tipoTerreno().DESIERTO"
                class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[17]]"
                [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 17"></div>

                <!--ASENTAMIENTOS-->
                <board-settlement vertice=42 posicion="tl"></board-settlement>
                <board-settlement vertice=41 posicion="t"></board-settlement>

                <!--CAMINOS-->
                <board-road arista=62 posicion="l"></board-road>
                <board-road arista=54 posicion="tl"></board-road>
                <board-road arista=58 posicion="tr"></board-road>

            </li>

            <!--HEXAGONO 18-->
            <li class='hex' [ngClass]="this.hexMapping.get(this.gameService.partida.tablero.hexagonos.tipo[18])">
                <div *ngIf="this.gameService.partida.tablero.hexagonos.tipo[18] != tipoTerreno().DESIERTO"
                class='number' [ngClass]="this.numberNames[this.gameService.partida.tablero.hexagonos.valor[18]]"
                [class.robber]="this.gameService.partida.tablero.hexagonos.ladron == 18"></div>

                <!--ASENTAMIENTOS-->
                <board-settlement vertice=44 posicion="tl"></board-settlement>
                <board-settlement vertice=43 posicion="t"></board-settlement>

                <!--CAMINOS-->
                <board-road arista=66 posicion="l"></board-road>
                <board-road arista=57 posicion="tl"></board-road>
                <board-road arista=61 posicion="tr"></board-road>

            </li>
            <!--FIN TERRENOS FILA 5-->

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(60) != null" class='harbor-piece tl'></div>
                    <div *ngIf="this.gameService.TipoPuerto(69) != null" class='harbor-piece l'></div>
                </div>
                <board-settlement vertice=46 posicion="tl"></board-settlement>
                <board-settlement vertice=45 posicion="t"></board-settlement>
                <board-road arista=69 posicion="l"></board-road>
                <board-road arista=60 posicion="tl"></board-road>
            </li>
        </ol>


        <!-- ULTIMA FILA DE MAR-->
        <ol class="even">
            <li class='hex spacer'></li>

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(64) != null" class='harbor-piece tr'></div>
                </div>
                <board-settlement vertice=49 posicion="t"></board-settlement>
                <board-road arista=64 posicion="tr"></board-road>
            </li>

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(63) != null" class='harbor-piece tl'></div>
                    <div *ngIf="this.gameService.TipoPuerto(68) != null" class='harbor-piece tr'></div>
                </div>
                <board-settlement vertice=48 posicion="tl"></board-settlement>
                <board-settlement vertice=47 posicion="t"></board-settlement>
                <board-road arista=63 posicion="tl"></board-road>
                <board-road arista=68 posicion="tr"></board-road>
            </li>

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(67) != null" class='harbor-piece tl'></div>
                    <div *ngIf="this.gameService.TipoPuerto(77) != null" class='harbor-piece tr'></div>
                </div>
                <board-settlement vertice=51 posicion="tl"></board-settlement>
                <board-settlement vertice=50 posicion="t"></board-settlement>
                <board-road arista=67 posicion="tl"></board-road>
                <board-road arista=71 posicion="tr"></board-road>
            </li>

            <li class='hex water'>
                <div class='harbor'>
                    <div *ngIf="this.gameService.TipoPuerto(70) != null" class='harbor-piece tl'></div>
                </div>
                <board-settlement vertice=53 posicion="tl"></board-settlement>
                <board-settlement vertice=52 posicion="t"></board-settlement>
                <board-road arista=70 posicion="tl"></board-road>
            </li>

        </ol>
    </div>

    <!-- Botones -->
    <div fxLayout="row" fxLayoutAlign="center center">
        <button class="dice-button" mat-fab color="primary">
          <p class="dice"> 
          Pasar turno
          </p>
        </button>

        <button class="dice-button" mat-fab color="primary">
          <p class="dice"> 
          Turno: World_champion
          </p>
        </button>

        <button class="dice-button" mat-fab color="primary">
          <p class="dice"> 
          Dados: 8
          </p>
        </button>

        <button class="dice-button" mat-fab color="primary" (click)="openSettingsDialog()">
          <p class="dice"> 
          Ajustes
          </p>
        </button>
    </div>
</div>