<body>
    <div>
        <mat-grid-list cols="4" rowHeight="30rem">
            <mat-grid-tile>
                <app-player-card playerName="Martín" playerELO="55" playerNumber=1></app-player-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <app-player-card playerName="Lucía" playerELO="738" playerNumber=2></app-player-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <app-player-card playerName="Marta" playerELO="81" playerNumber=3></app-player-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <app-player-card playerName="Pablo" playerELO="919" playerNumber=4></app-player-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class="mb">
        <mat-form-field appearance="fill" class="center">
            <mat-label>Selecciona aspecto</mat-label>
            <mat-select>
                <mat-option>
                    Espacial
                </mat-option>
                <mat-option>
                    Normal
                </mat-option>
                <mat-option>
                    Informática
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <section class="mb">
        <div class="button-row">
            <button mat-raised-button color="primary">Online</button>
        </div>
        <div style="width: 10px; "></div>
        <div class="button-row">
            <button mat-raised-button color="primary">Privada</button>
        </div>
    </section>
    <div>
        <div class="center">
            <button mat-raised-button color="primary">Comenzar partida</button>
        </div>
    </div>
</body>