<body>

    <br/>
    <h1> Sala de Martín </h1>

    <mat-grid-list cols="1" rowHeight="30rem" layout-align="center center">
        <mat-grid-tile>
            <app-player-card playerName="Martín" playerELO="55" playerNumber=1></app-player-card>
        </mat-grid-tile>
    </mat-grid-list>

    <div class="mb">
        <mat-form-field appearance="outline" class="center">
            <mat-label>Selecciona aspecto</mat-label>
            <mat-select>
                <mat-option>
                    Espacial
                </mat-option>
                <mat-option>
                    Normal
                </mat-option>
                <mat-option>
                    Informática
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <div class="center">
            <button mat-raised-button (click)="goGame()">Buscar partida</button>
        </div>
    </div>
</body>