/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons'
@import '~@angular/material/prebuilt-themes/indigo-pink.css'

$palette: ( mainDark: #3E3E42 , secDark:  #343f56, mainWhite: #f8f5f1)
$font-weights: ("regular": 400, "medium": 500, "bold": 700)

.main-background
    background-color: map-get($palette, mainDark)    
