<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        {{langService.get("village")}}
    </p>
    <p class="info">
        {{langService.get("rules-village-1")}}
    </p><br>
</mat-card>

<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        {{langService.get("city")}}
    </p>
    <p class="info">
        {{langService.get("rules-city-1")}}
    </p><br>
</mat-card>

<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        {{langService.get("road")}}
    </p>
    <p class="info">
        {{langService.get("rules-road-1")}}
    </p><br>
</mat-card>

<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        {{langService.get("robber")}}
    </p>
    <p class="info">
        {{langService.get("rules-robber-1")}}
    </p><br>
</mat-card>

<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        {{langService.get("resource-cards")}}
    </p>
    <p class="info">
        {{langService.get("rules-resource-cards-1")}}
    </p><br>
</mat-card>