<br><br>
<div fxLayout fxLayoutAlign="center center">
    <mat-card  class="container">
        <p class="title"> Figuras y recursos </p>
     </mat-card>   
</div> 

<mat-card  class="description">
    <p class="title" fxLayout fxLayoutAlign="center center" >Poblado</p>
    <p class="info">
        Un poblado vale 1 punto de victoria, y su propietario puede recibir la producción de
        materia prima de todos los hexágonos de terreno adyacentes. Importante: Al construir
        un poblado se debe tener en cuenta la regla de la distancia: en ninguna de las tres
        encrucijadas adyacentes puede haber ya un poblado (no importa de qué jugador). Si
        un jugador ya ha construido sus 5 poblados, antes de poder construir más poblados
        primero debe ampliar a ciudad alguno de ellos. Con ello, recupera su poblado, que
        queda sustituido por una ciudad. Ahora el jugador puede construir un nuevo poblado.
    </p><br>
</mat-card>

<mat-card  class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">Ciudad</p>
    <p class="info">
        Sólo se puede construir una ciudad ampliando un poblado ya existente. Cada ciudad
        vale 2 puntos de victoria, y su propietario obtiene por cada hexágono de terreno 
        adyacente el doble de materias primas (2 cartas de materia prima, si sale el número 
        del terreno). Los poblados que quedan disponibles (al haber sido ampliados a ciudad), se
        pueden usar otra vez para fundar nuevos poblados.
    </p><br>
</mat-card>

<mat-card  class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">Carretera</p>
    <p class="info">
        Las carreteras son las conexiones entre los poblados y ciudades propias. Las carreteras
        se construyen sobre los caminos. En cada camino (también a lo largo de la costa), sólo
        se puede construir una carretera. Las carreteras se pueden construir a continuación de
        una encrucijada en la que haya un poblado o una ciudad propia, o bien a continuaci´on
        de una encrucijada no ocupada (es decir, libre) a la que llegue una carretera propia. Si
        no se construyen nuevas carreteras, tampoco se podrán construir nuevos poblados. Las
        carreteras, por si solas, tan sólo dan puntos de victoria en el único caso de conseguir
        la carta especial “Gran ruta comercial”.
    </p><br>
</mat-card>

<mat-card  class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">Ladrón</p>
    <p class="info">
        Al principio de la partida, el ladrón se coloca en el desierto. Sólo se mueve cuando al
        tirar los dados sale el “7” o cuando un jugador juega una carta de caballero. Mientras
        el ladrón esté en un hexágono de terreno, anula la producción de materias primas de
        ese hexágono. Todos los jugadores que tengan poblados y/o ciudades adyacentes no
        recibirán ninguna materia prima de este terreno mientras el ladrón se encuentre en el.
    </p><br>
 </mat-card>   
 
<mat-card  class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">Cartas de recurso</p>
    <p class="info">
        Representan los recursos obtenidos en cada terreno. Se utilizar´an para la construcciones
        de poblados, ciudades, carreteras y cartas de desarrollo.
    </p><br>
</mat-card>


