<div class = "card-div">
    <mat-card id="change-language-card">
        <div class="title">
            <div class="back-icon">
                <img routerLink="/home/profile/" routerLinkActive="active" src= "../../../../assets/images/icons/back.png">
            </div>
            <div class="change-title">
                {{this.langService.get("change-language")}}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="body">
            <div class= "form-language">
                <div class="selector-lable">
                    {{this.langService.get("pick-a-language")}}
                </div>
                <div class= "selector">
                    <select id="language-selector" [(ngModel)]="lenguajeActual" >
                        <option value="0">{{espanyolLanguage}}</option>
                        <option value="1">{{inglesLanguage}}</option>
                    </select>
                </div>
                <div class="update-button">
                    <div class="div-button">
                        <button class="button-update-action" (click)="capturar()">
                            <span class="btn-text"><i class="fas fa-pen mr-2"></i>{{this.langService.get("change")}}</span>
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
    </mat-card>
</div>
