<!--CAMINO-->
<div *ngIf="gameService.partida.tablero.aristas.camino[arista] == tipoCamino().NADA">
    <div *ngIf="gameService.partida.tablero.aristas.posible_camino[gameService.partida.miTurno - 1][arista]"
    class='road target'
    [ngClass]='posicion'
    [matMenuTriggerFor]="construirCamino"
    [style.pointer-events]="(gameService.partida.turnoActual == gameService.partida.miTurno) ? 'auto' : 'none'"></div>
    <mat-menu  #construirCamino >
        <button mat-menu-item [disabled]="(!gameService.partida.CaminoDisponible)" (click)="build()">Construir camino</button>
    </mat-menu>
</div>
<div *ngIf="gameService.partida.tablero.aristas.camino[arista] != tipoCamino().NADA">
    <div class='road' [ngClass]="posicion"
    [style.background-color]="roadColorMapping.get(gameService.partida.tablero.aristas.camino[arista])"
    [style.pointer-events]="'none'"></div>
</div>
<!--CAMINO-->
