<h1 mat-dialog-title>Password & name requirements</h1>
<div mat-dialog-content>
  <ul>
      <span>&#10003;</span> Username must be at least 4 characters.
       <br>
      <span>&#10003;</span> Password must be at least 8 characters.
       <br>
      <span>&#10003;</span> Password must contain at least 1 uppercase.
      <br>
      <span>&#10003;</span> Password must contain at least 1 lowercase.
      <br>
      <span>&#10003;</span> Password must contain at least 1 digit.
      <br>
      <span>&#10003;</span> Password cannot contain any special characters.
  </ul>
</div>