<div class = "card">
    <div class="profile-elo">
        <div class="pic-elo">
            <img class="user-image" src="../../../../assets/images/random.png">
        </div>
        <div class= "name-coins">
            <div class = "name" >{{playerName}}</div>
            <div class = "space"></div>
            <div class = "coins"> 
                <div money-icon>
                    
                </div> 
                <div money-text>
                    {{playerCoins}}
                </div> 
            </div>
        </div>
    </div>    
</div>
