<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        {{langService.get("Combined-trade-and-building-phase")}}
    </p>
    <p class="info">
        {{langService.get("rules-combined-trade-building-1")}}
    </p>
</mat-card>

<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        {{langService.get("fundation-phase")}}
    </p>
    <p class="info">
        {{langService.get("rules-fundation-phase-1")}}
    </p>
</mat-card>

<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        {{langService.get("second-round")}}
    </p>
    <p class="info">
        {{langService.get("rules-second-round-1")}}
    </p>
</mat-card>

<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        {{langService.get("end-game")}}
    </p>
    <p class="info">
        {{langService.get("rules-end-game-1")}}
    </p>
</mat-card>