<mat-card class="description">
    <p class="info">
        {{langService.get("rules-terrain-1")}}
        <br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-icon>donut_large</mat-icon> {{langService.get("madera")}} = {{langService.get("bosque")}}
        <br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-icon>donut_large</mat-icon> {{langService.get("lana")}} = {{langService.get("prado")}}
        <br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-icon>donut_large</mat-icon> {{langService.get("cereales")}} = {{langService.get("sembrado")}}
        <br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-icon>donut_large</mat-icon> {{langService.get("arcilla")}} = {{langService.get("cerro")}}
        <br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-icon>donut_large</mat-icon> {{langService.get("mineral")}} = {{langService.get("mountain")}}
        <br><br>
        {{langService.get("rules-terrain-2")}}
    </p>

</mat-card>