<br><br>
<div fxLayout fxLayoutAlign="center center">
    <mat-card  class="container">
        <p class="title"> Terrain types </p>
     </mat-card>   
</div> <br><br> 

<mat-card  class="description">
    <p class="info">
        There are five productive terrain types and one desert on Catan.
        Each terrain type produces a different type of resource <br> (The
        desert produces nothing). Each resource you receive is represented
        by a card. Here’s what each terrain produces:
        <br><br>
        <li class="materials"> Hill Produces Brick</li>
        <br>
        <li class="materials"> Forest Produces Lumber</li>
        <br>
        <li class="materials"> Mountains Produces Ore</li>
        <br>
        <li class="materials"> Fields Produces Grain</li>
        <br>
        <li class="materials"> Pasture Produces Wool</li>
        <br>
        <li class="materials"> Desert Produces Nothing</li>
        <br>
        The island of Catan lies before you. The isle consists of
        19 terrain tiles surrounded by ocean. Your goal is to settle on
        Catan, and expand your territory until it becomes the largest and
        most glorious in Catan
    </p>
   
 </mat-card>   



