<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        {{langService.get("rules-development-cards")}}
    </p>
    <p class="info">
        {{langService.get("rules-development-cards-1")}}
    </p>
</mat-card>

<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        {{langService.get("knight-card")}}
    </p>
    <p class="info">
        {{langService.get("rules-knight-card-1")}}
        <br> <br>
        {{langService.get("rules-knight-card-2")}}
        <br> <br>
        {{langService.get("rules-knight-card-3")}}
        <br><br>
        {{langService.get("rules-knight-card-4")}}
    </p>
</mat-card>


<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        {{langService.get("progress-cards")}}
    </p>
    <p class="info">
        {{langService.get("rules-progress-cards-1")}}
        <br><br>
        {{langService.get("rules-progress-cards-2")}}
        <br><br>
        {{langService.get("rules-progress-cards-3")}}
        <br><br>
        {{langService.get("rules-progress-cards-4")}}
    </p>
</mat-card>

<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        {{langService.get("victory-point-card")}}
    </p>
    <p class="info">
        {{langService.get("rules-victory-point-cards-1")}}
    </p>
</mat-card>

<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        {{langService.get("great-trade-route-card")}}
    </p>
    <p class="info">
        {{langService.get("rules-great-trade-route-1")}}
        <br><br>
        {{langService.get("rules-great-trade-route-2")}}
        <br><br>
        {{langService.get("rules-great-trade-route-3")}}
        <br><br>
        {{langService.get("rules-great-trade-route-4")}}
    </p>
</mat-card>

<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        {{langService.get("great-cavalry-army-card")}}
    </p>
    <p class="info">
        {{langService.get("rules-great-cavalry-army-1")}}
    </p>
</mat-card>