<div class="container">
    <mat-card class="chat-container">       
         <mat-list>
             <mat-list-item>
                     <strong class="text"> world_champion:</strong>
                     <span class="text"> &nbsp; Hola!</span>
             </mat-list-item>
             <mat-divider></mat-divider>
             <mat-list-item>
                     <strong class="text"> Player2:</strong>
                     <span class="text"> &nbsp;  Adios!</span>
             </mat-list-item>
             <mat-divider></mat-divider>
         </mat-list>
    </mat-card>
    <div class="input" fxLayout="column" fxLayoutAlign="end stretch" >
             <div class="chat">
                     <input class="chat-input"> 
                     <button mat-icon-button class="send-button">
                         <mat-icon>send</mat-icon>
                     </button> 
             </div>
     </div>
 </div>
 