<div class="header" [class.mat-elevation-z9]="true">
    <div class="logo-menu">
        <img class="logo" src="../../../assets/images/icons/logo_large.png">
        <div class="header-left">
            <div><a routerLink="/home/play" routerLinkActive="active">Jugar</a></div>
            <div><a routerLink="/home/shop" routerLinkActive="active">Tienda</a></div>
            <div><a routerLink="/home/profile" routerLinkActive="active">Perfil</a></div>
            <div><a routerLink="/home/rules" routerLinkActive="active">Instrucciones</a></div>
        </div>
    </div>
    <div class="profile-card">
        <app-profile-card [playerELO]="" [playerName]="this.userService.username" [playerCoins]="this.userService.saldo" [playerAvatar]="this.userService.avatar"></app-profile-card>
    </div>
</div>