<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        Fase combinada de comercio y construcción
    </p>
    <p class="info">
        El motivo de separar en dos fases independientes el comercio y la construcción es presentar a los nuevos jugadores una estructura de juego clara, que les permita una introducción rápida al juego. Sin embargo, a los jugadores más experimentados les recomendamos
        eliminar la separación entre la fase de comercio y la fase de construcción. De esta forma, después de haber tirado los dados para determinar la producción de materias primas, se puede comerciar y construir en el orden que se quiera. Por ejemplo,
        un jugador podrı́a comerciar, construir, seguir comerciando después y construir de nuevo a continuación, mientras las cartas de su mano se lo permitan. Cuando se usa la fase combinada, el jugador que ha construido un poblado en un puerto, puede
        usar el puerto para comerciar en el mismo turno en que lo ha construido.
    </p>
</mat-card>

<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        Fase de fundación
    </p>
    <p class="info">
        La “fase de fundación” se juega justo después de haber hecho el montaje del tablero, al azar.
        <br><br>
        <li>
            Cada jugador elige un color y toma las figuras correspondientes: 5 poblados, 4 ciudades, 15 carreteras. Y también una tabla de costes de construcción.
        </li>

        <li>
            Se separan las cartas de materia prima por tipos en cinco pilas y se colocan boca arriba en los dos portacartas. Los portacartas se colocan al lado del tablero.
        </li>

        <li>
            Se mezclan las cartas de desarrollo y se ponen boca abajo en una pila en el compartimento libre que queda en uno de los portacartas.
        </li>

        <li>
            Las dos cartas especiales y los dados se colocan al lado del tablero.
        </li>

        <li>
            Los portacartas se colocan al lado del tablero.
        </li>
    </p>
</mat-card>

<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        Primera ronda
    </p>
    <p class="info">
        Por turnos, todos los jugadores tiran los dos dados. El jugador que saque el re- sultado mayor empieza a jugar. Coloca uno de sus poblados en una encrucijada libre a su elección. Conectada a ese poblado coloca, en cualquier dirección, una carretera. A
        continuación, le siguen el resto de jugadores en sentido horario. Cada uno coloca 1 poblado y 1 carretera. Atención: Hay que tener en cuenta la regla de la distancia durante la colocación de todos los pueblos siguientes al primero.
    </p>
</mat-card>

<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        Segunda ronda
    </p>
    <p class="info">
        Una vez todos los jugadores hayan construido su primer poblado, el jugador que haya sido el último en la primera ronda es el que empieza a jugar en la segunda ronda. Este jugador es ahora el primero en construir su segundo poblado y su segunda carretera
        conectada a éste. Atención: después de él le siguen el resto de jugadores en sentido antihorario. Ası́ pues, el jugador inicial será el último en construir su segundo poblado. El segundo poblado se puede construir completa- mente por separado
        del primero, en cualquier otra encrucijada, pero también se ha de tener en cuenta la regla de la distancia. La segunda carretera debe partir del segundo poblado, pero puede hacerlo en cualquier dirección. Cada jugador recibe enseguida, después
        de la fundación, la producción de materias primas de su segundo poblado: por cada hexágono de terreno que sea adyacente a este segundo poblado toma de la reserva una carta de la materia prima correspondiente. El ju- gador inicial (el que ha construido
        en último lugar su segundo poblado) empieza la partida. Tira los dos dados para determinar la producción de materias primas del primer turno. Se pueden encontrar consejos sobre la mejor forma de hacer la fundación en la sección táctica.
    </p>
</mat-card>

<mat-card class="description">
    <p class="title" fxLayout fxLayoutAlign="center center">
        Fin del juego
    </p>
    <p class="info">
        Si le llega el turno a un jugador y ya tiene 10 puntos de victoria (o los consigue durante ese turno), la partida termina enseguida con él como ganador. Ejemplo: Un jugador tiene 2 poblados (2 PV), la carta especial Gran ruta comercial (2 PV), 2 ciudades
        (4 PV) y 2 cartas de puntos de victoria (2 PV). Pone boca arriba sus dos cartas de puntos de victoria, y con ellas consigue los 10 puntos necesarios para ganar.
    </p>
</mat-card>