<mat-card class="description">

    <p class="info">
        {{langService.get('instructions_basics_info_paragraph1')}} <br/><br/>
        {{langService.get('instructions_basics_info_paragraph2')}} <br/><br/>
        {{langService.get('instructions_basics_info_paragraph3')}} <br/><br/>
        {{langService.get('instructions_basics_info_paragraph4')}} <br/><br/>
        {{langService.get('instructions_basics_info_paragraph5')}} <br/><br/>
        {{langService.get('instructions_basics_info_paragraph6')}} <br/><br/>
        {{langService.get('instructions_basics_info_paragraph7')}} <br/><br/>
        {{langService.get('instructions_basics_info_paragraph8')}} <br/><br/>
        {{langService.get('instructions_basics_info_paragraph9')}} <br/><br/>
        {{langService.get('instructions_basics_info_paragraph10')}} <br/><br/>
        {{langService.get('instructions_basics_info_paragraph11')}} <br/><br/>
        {{langService.get('instructions_basics_info_paragraph12')}} <br/><br/>
        {{langService.get('instructions_basics_info_paragraph13')}} <br/><br/>
        {{langService.get('instructions_basics_info_paragraph14')}} <br/><br/>
    </p>

</mat-card>