@import '../../../styles'

.sidenav-container 
  height: 100%


.sidenav 
  width: 200px


.sidenav .mat-toolbar 
  background: map-get($palette, mainRed )


.mat-toolbar.mat-primary 
  position: sticky
  top: 0
  z-index: 1

.toolbar
   background: map-get($palette, mainRed )

.a
 bold