<h1 mat-dialog-title class="cards-info-title">Comercie con {{offerPlayer.nombre}}:</h1>


<form name="myform">
  <div mat-dialog-content >


    <p> Material ofrecido </p>
    <mat-form-field appearance="fill" fxLayout="column" fxLayoutAlign="center stretch">
      <mat-label>Selecciona un material</mat-label>
      <mat-select [(ngModel)]="offerMaterial" name="material" required>
        <mat-option *ngFor="let material of materials" [value]="material.value">
          {{material.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <div *ngIf="offerMaterial != null">
      <div *ngIf="this.gameService.partida.jugadores[this.gameService.partida.miTurno - 1].recursos[offerMaterial] < 1" style="color: red;">
        No tienes {{offerMaterial}} para comerciar
      </div>
      <div *ngIf="this.gameService.partida.jugadores[this.gameService.partida.miTurno - 1].recursos[offerMaterial] > 0">
        <p> Unidades {{offerMaterial}} para comerciar </p>
        <mat-slider fxLayout="column" fxLayoutAlign="center stretch"
        thumbLabel
        required
        [displayWith]="formatLabelOffer"
        tickInterval="1"
        min="1"
        [max]="this.gameService.partida.jugadores[this.gameService.partida.miTurno - 1].recursos[offerMaterial]"></mat-slider>
      </div>
    </div>

    <p> Material solicitado </p>
    <mat-form-field appearance="fill" fxLayout="column" fxLayoutAlign="center stretch">
      <mat-label>Selecciona un material</mat-label>
      <mat-select [(ngModel)]="receiveMaterial" name="material" required >
        <mat-option *ngFor="let material of materials" [value]="material.value">
          {{material.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <div *ngIf="this.receiveMaterial != null">
      <div *ngIf="offerPlayer.recursos[receiveMaterial] < 1" style="color: red;">
        {{offerPlayer.nombre}} no tiene {{receiveMaterial}} para comerciar
      </div>
      <div *ngIf="offerPlayer.recursos[receiveMaterial] > 0">
        <p> Unidades {{receiveMaterial}} solicitadas a {{offerPlayer.nombre}} </p>
        <mat-slider fxLayout="column" fxLayoutAlign="center stretch"
        thumbLabel
        required
        [displayWith]="formatLabelReceive"
        tickInterval="1"
        min="1"
        [max]="offerPlayer.recursos[receiveMaterial]"></mat-slider>
      </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="center stretch">
      <button mat-raised-button mat-dialog-close 
              (click)="onSubmit()"
              [disabled]="offerMaterial == null || receiveMaterial == null || ammountGiven == null || ammountReceived == null" >
        Solicitar 
      </button>
    </div>

  </div>
</form>
