@import '../../../styles'
    
.info_0
    margin: 20px
    padding: 20px
    border-radius: 12px


.info_1
    background-color: lightblue
    margin: 20px
    padding: 20px
    border-radius: 12px


.info_2
    background-color: map-get($palette,mainRed )
    margin: 20px
    padding: 20px
    border-radius: 12px


.info_3
    background-color: map-get($palette,mainOrange )
    margin: 20px
    padding: 20px
    border-radius: 12px


.info_4
    background-color: map-get($palette,mainYellow )
    margin: 20px
    padding: 20px
    border-radius: 12px


    
.nombre
    font-size:  18px
    font-weight: bold
    font-family: Fantasy
    border-radius: 12px
    text-align: center
  
.nombre_menus
    font-size:  15px
    color: white
    font-weight: bold
    font-family: Fantasy
    border-radius: 12px
    text-align: center
    
.resources
    margin: 20px
    
.cards
    margin-top: 40px
    margin-left: 20px
    margin-right: 20px
    
    border-radius: 12px
    background-color: map-get($palette,mainRed)
  
.cards-info
    font-size:  20px
    font-family: Fantasy
    color: white

.cards-title
    font-family: Fantasy
    color: white
    font-weight: bold

.settings-button
    background-color: lightblue
    border: none

.cards-info-title
    font-size:  35px
    font-family: Fantasy
    color: white
    text-align: center

.button_trade
    background-color: map-get($palette,mainRed )
    border-radius: 12px
    margin-top: 10px
    margin-left: 20px
    margin-right: 20px
    margin-bottom: 10px
    
.button_settings
    background-color: map-get($palette,mainRed )
    border-radius: 12px
    margin-top: 10px
    margin-left: 20px
    margin-right: 20px


.button_cards
    background-color: map-get($palette,mainRed )
    border-radius: 12px
    margin-top: 10px
    margin-left: 20px
    margin-right: 20px
    margin-bottom: 10px

::ng-deep.mat-dialog-container
    background-color: map-get($palette,mainRed ) 
    padding: 20px !important
    border-radius: 15px !important

    