
<div fxLayout="column" fxLayoutGap="12px">
    <br>
    <mat-card class="info_1"> 
        <p class="nombre"> World_champion </p> 
    </mat-card>
    <mat-card class="info_2"> 
        <p class="nombre"> Player 2 </p> 
    </mat-card>
    <mat-card class="info_3">
        <p class="nombre"> Player 3 </p>  
    </mat-card>
    <mat-card class="info_4"> 
        <p class="nombre"> Player 4 </p> 
    </mat-card>
    <br>
    <div class="resources" fxLayout="column" fxLayoutAlign="center stretch">
        <app-stats></app-stats> 
    </div>
        <button class ="button_cards" mat-icon-button (click)="openCardsDialog()">
            <p class="nombre_menus">Cartas disponibles</p> 
        </button> 
        <button class ="button_trade" mat-icon-button (click)="openInternalTradeDialog()">
           <p class="nombre_menus">Comercio interior</p>
        </button>
        <button class ="button_settings" mat-icon-button (click)="openExternalTradeDialog()">
            <p class="nombre_menus">Comercio marítimo</p>
        </button>  

</div>









