
<div fxLayout="column" fxLayoutGap="12px">
    <br>
    <mat-card class="info_1"> 
        <p class="nombre"> World_champion (4) 
            <button class="settings-button" mat-icon-button>
                <mat-icon>settings</mat-icon>
              </button> 

        </p> 
    </mat-card>
    <mat-card class="info_2"> 
        <p class="nombre"> Player 2 </p> 
    </mat-card>
    <mat-card class="info_3">
        <p class="nombre"> Player 3 </p>  
    </mat-card>
    <mat-card class="info_4"> 
        <p class="nombre"> Player 4 </p> 
    </mat-card>
    <br>
    <div class="resources" fxLayout="column" fxLayoutAlign="center stretch">
        <app-stats></app-stats> 
    </div>
    <mat-card class= "cards" fxLayout="column" fxLayoutAlign="center stretch">
        <mat-card-title class="cards-title" fxLayoutAlign="center">
            Cartas
        </mat-card-title>
            <p class="cards-info"> Caballero: 0</p> 
            <p class="cards-info"> Construccion carreteras: 3</p> 
            <p class="cards-info"> Descrubrimiento: 2</p> 
            <p class="cards-info"> Punto victoria: 1</p> 
    </mat-card>
</div>









