.info_0
    margin: 20px
    padding: 20px
    border-radius: 12px


.info_1
    background-color: lightblue
    margin: 20px
    padding: 20px
    border-radius: 12px


.info_2
    background-color: #965d62
    margin: 20px
    padding: 20px
    border-radius: 12px


.info_3
    background-color: #c7956d
    margin: 20px
    padding: 20px
    border-radius: 12px


.info_4
    background-color: #f2d974
    margin: 20px
    padding: 20px
    border-radius: 12px


    
.nombre
    font-size:  18px
    font-weight: bold
    font-family: Fantasy
    border-radius: 12px
    text-align: center
  
    
.resources
    margin: 20px
    
.cards
    margin: 20px
    border-radius: 12px
    background-color: #965d62
  
.cards-info
    font-size:  9px
    font-family: Fantasy
    color: white

.cards-title
    font-family: Fantasy
    color: white
    font-weight: bold

.settings-button
    background-color: lightblue
    border: none