<!--ASENTAMIENTO-->
<div *ngIf="gameService.partida.tablero.vertices.asentamiento[vertice] == tipoAsentamiento().NADA">
    <div *ngIf="gameService.partida.PrimerTurno || gameService.partida.tablero.vertices.posible_asentamiento[gameService.partida.miTurno - 1][vertice]"
    class='house target'
    [ngClass]='posicion'
    [matMenuTriggerFor]="construirPoblado"
    [style.pointer-events]="(gameService.partida.turnoActual == gameService.partida.miTurno) ? 'auto' : 'none'"></div>
    <mat-menu  #construirPoblado >
        <button mat-menu-item [disabled]="(!gameService.partida.PobladoDisponible)" (click)="build()">Construir poblado</button>
    </mat-menu>
</div>
<div *ngIf="gameService.partida.tablero.vertices.asentamiento[vertice] != tipoAsentamiento().NADA">
    <div [ngClass]="[settlementTypeMapping.get(gameService.partida.tablero.vertices.asentamiento[vertice]), posicion]"
    [style.background-color]="settlementColorMapping.get(gameService.partida.tablero.vertices.asentamiento[vertice])"
    [matMenuTriggerFor]="mejorarPoblado"
    [style.pointer-events]="((settlementProp.get(gameService.partida.tablero.vertices.asentamiento[vertice]) == gameService.partida.miTurno) &&
    (settlementTypeMapping.get(gameService.partida.tablero.vertices.asentamiento[vertice]) == CSSPoblado) &&
    (gameService.partida.turnoActual == gameService.partida.miTurno)) ? 'auto' : 'none'"></div>
    <mat-menu #mejorarPoblado>
        <button mat-menu-item [disabled]="(!gameService.partida.CiudadDisponible)" (click)="improve()">Mejorar poblado</button>
    </mat-menu>
</div>
<!--ASENTAMIENTO-->