<div class="card">
    <div class="profile-elo">
        <img class="user-image" src="../../../../assets/images/shop/user/{{playerAvatar}}"
        [matMenuTriggerFor]="cerrarSesion"
        >
        <mat-menu  #cerrarSesion >
            <button mat-menu-item (click)="this.userService.logout(router)">
                {{langService.get("logout")}}
            </button>
        </mat-menu>

        <div class="name-coins">
            <div class="name">{{playerName}}</div>
            <div class="space"></div>
            <div class="coins">
                <img class="centered gem-image" src="../../../../assets/images/icons/gold_icon.png">
                &nbsp;
                {{playerCoins}}
            </div>
        </div>
    </div>
</div>