@import '../../../../styles'

.card 
    border-left: solid map-get($palette, darkerRed)
    position: relative
    height: 100%
    align-items: center
    padding: 0px 12px

.user-image
    position: absolute
    height: 100%
    padding: 0 20px
    border-radius: 50%
    background-repeat: no-repeat
    background-position: center center
    background-size: cover

.name-coins

.name
    font-size: large
    font-family: "Livingstone"
    text-align: right
    color: map-get($palette, mainYellow )

.coins
    display: flex
    color: map-get($palette, mainYellow )
    float: right 

.space
    height: 0.5em

.gem-image
    height: 20px 
    width: 20px 
