<html>

<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let product of profile_products">
            <mat-card class="mat-elevation-z4">
                <mat-card-title>
                    <mat-card-title>{{product["nombre"]}}</mat-card-title>
                </mat-card-title>
                <mat-divider></mat-divider>
                <img mat-card-image class="user-image" src='{{ "../../../../assets/images/shop/user/" + product.url}}'>
                <mat-card-content>
                    <img mat-card-image class="icon" src="../../../../assets/images/icons/gold_icon.png"> {{product["precio"]}}
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button (click)='buy(product["url"])' [disabled]="product['precio'] > this.userService.saldo">
                        <div *ngIf="product['precio'] <= this.userService.saldo; else notAvailable">
                            Comprar
                        </div>
                        <ng-template #notAvailable>
                            Saldo insuficiente
                        </ng-template>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <H1 *ngIf="empty">No hay Productos nuevos para comprar!</H1>
    </div>
</div>

</html>