<mat-card class="description">
        {{langService.get('instructions_development_paragraph1')}} <br/><br/>
        {{langService.get('instructions_development_paragraph2')}} <br/><br/>
        {{langService.get('instructions_development_paragraph3')}} <br/><br/>
        {{langService.get('instructions_development_paragraph4')}} <br/><br/>
        {{langService.get('instructions_development_paragraph5')}} <br/><br/>
        {{langService.get('instructions_development_paragraph6')}} <br/><br/>
        {{langService.get('instructions_development_paragraph7')}} <br/><br/>
        {{langService.get('instructions_development_paragraph8')}} <br/><br/>
</mat-card>