<div class= "profile-content">
    <div class= "profile-pic-elo">
        <div class="perfil-card">
            <mat-card id="profile-mat">
                <div class= "edit-pic">
                    <img class="user-image" src="../../../../assets/images/shop/user/{{avatar}}">
                </div>
                <mat-divider></mat-divider>
                <div class="avatar-button">
                        <button class="button-change" >Cambiar mi avatar</button>

                </div>
            </mat-card>
        </div>
        <div class="ajustes-card">
            <mat-card id="settings-mat">
                <mat-card-title>
                    <div class="settings-title">
                        Ajustes
                    </div>
                </mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content id="ajustes">
                    <div class="settings-buttons">
                        <button class="button-settings">Cambie su contraseña</button>
                        <button class="button-settings">Cambie su correo</button>
                        <button class="button-settings">Cambie su idioma</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        
    </div>
    <div class= "name-stadistics">
        <div class = "name-settings">
            <mat-card id ="namemail">
                <div class = "name-mail">
                    <div class = "name-text">
                        {{username}}
                    </div>
                    <div class = "mail-text">
                        {{mail}}
                    </div>
                </div>
            </mat-card>
        </div>
        <div class = "stadistics">
            <div class = "st-card1">
                <app-stadistic-card Text="Porcentaje de Victorias" Number ={{stats[0]}}></app-stadistic-card>
            </div>
            <div class = "st-card2">
                <div class = "st-card21">
                    <app-stadistic-card Text="Partidas" Number ={{stats[1]}}></app-stadistic-card>
                </div>
                <div class = "st-card22">
                    <app-stadistic-card Text="Victorias" Number ={{stats[2]}}></app-stadistic-card>
                </div>
            </div>
            <div class = "st-card3">
                <app-stadistic-card Text= "Racha actual" Number = {{stats[3]}}></app-stadistic-card>
            </div>
            <div class = "st-card4">
                <app-stadistic-card Text= "Mayor racha de Victorias" Number ={{stats[4]}}></app-stadistic-card>
            </div>

        </div>
    </div>
</div>
