<div class= "profile-content">
    <div class= "profile-pic-elo">
        <div class="perfil-card">
            <mat-card id="profile-mat">
                <div class= "edit-pic">
                    <img class="user-image" src="../../../../assets/images/shop/user/{{avatar}}">
                </div>
                <mat-divider></mat-divider>
                <div class="avatar-button">
                        <button class="button-change" routerLink="/home/profile/change-avatar" routerLinkActive="active">{{langService.get("change-avatar")}}</button>

                </div>
            </mat-card>
        </div>
        <div class="ajustes-card">
            <mat-card id="settings-mat">
                <mat-card-title>
                    <div class="settings-title">
                        {{langService.get("settings") }}
                    </div>
                </mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content id="ajustes">
                    <div class="settings-buttons">
                        <button class="button-settings" routerLink="/home/profile/change-password" routerLinkActive="active">{{langService.get("change-password")}}</button>
                        <button class="button-settings" routerLink="/home/profile/change-language" routerLinkActive="active">{{langService.get("change-language")}}</button>
                        <button class="button-settings" routerLink="/home/profile/delete-account"  routerLinkActive="active">{{langService.get("delete-account")}}</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        
    </div>
    <div class= "name-stadistics">
        <div class = "name-settings">
            <mat-card id ="namemail">
                <div class = "name-mail">
                    <div class = "name-text">
                        {{userService.username}}
                    </div>
                    <div class = "mail-text">
                        {{userService.mail}}
                    </div>
                </div>
            </mat-card>
        </div>
        <div class = "stadistics">
            <div class = "st-card1">
                <app-stadistic-card Text= {{percentageVictory}} Number ={{stats[0]}}% ></app-stadistic-card>
            </div>
            <div class = "st-card2">
                <div class = "st-card21">
                    <app-stadistic-card Text= {{games}} Number ={{stats[1]}}></app-stadistic-card>
                </div>
                <div class = "st-card22">
                    <app-stadistic-card Text= {{victories}} Number ={{stats[2]}}></app-stadistic-card>
                </div>
            </div>
            <div class = "st-card3">
                <app-stadistic-card Text= {{currentStreak}} Number = {{stats[3]}}></app-stadistic-card>
            </div>
            <div class = "st-card4">
                <app-stadistic-card Text= {{bestStreak}} Number ={{stats[4]}}></app-stadistic-card>
            </div>

        </div>
    </div>
</div>
